@import "./media.scss";
@import "./flex.scss";
@import "./variable.scss";

.single-header,
.page-header {
    margin-bottom: 20px !important;

    a {
        text-decoration: none;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .post-categories {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            color: #55efc4;
        }

        &> :not(:last-child) {
            margin-right: 12px;
        }
    }

    .entry-title {
        max-width: 970px;
        font-weight: 700;
        line-height: 1.3;
        margin: $margin-entry-title;

        @include media('>=768px') {

            line-height: 1.2;
        }


    }

    .entry-subtitle {
        margin: 1em 0;
        font-size: 18px;
        font-style: italic;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.4);

        @include media('>=768px') {
            font-size: 1.1rem;
            line-height: 1.4;
        }
    }
}


.single-header {
    .entry-meta {
        @extend .flex;
        @extend .ai-c;
        color: rgba(0, 0, 0, 0.4);
        font-size: 0.85714rem;
        font-weight: 400;
        line-height: 1.5;

        &>:not(:last-child) {

            margin-right: 0.6em;
        }

        .meta-author {
            @extend .flex;
            @extend .ai-c;

            .avatar {
                height: 34px;
                width: 34px;
                border-radius: 100%;
                margin-right: 10px;
            }

            a {
                color: $nav-color;
                margin-left: 4px;
            }
        }
    }

    .entry-title {
        max-width: 970px;
        font-size: 2.027rem;
        font-weight: 700;
        line-height: 1.3;
        margin: $margin-entry-title;

        @include media('>=768px') {

            line-height: 1.2;
        }

        @include media('>=992px') {
            font-size: 2.986rem;
            line-height: 1.1;
        }


    }
}

// Single Header Ends

.single-body,
.page-body {
    margin-top: 20px;

    a {
        text-decoration: none;
    }

    .entry-thumb {
        margin-bottom: 40px;
    }

}

// Social Share Container

.social-share-container {
    @extend .flex;
    @extend .ai-c;
    margin: 8px 0;

    >* {
        font-size: 12px !important;
    }

    a.sharebtn {
        @extend .flex;
        @extend .ai-c;
        width: auto;
        height: 34px;
        padding: 8px 12px;
        border-radius: 2px;
        margin-right: 6px;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
    }

    .facebook-btn {
        background: $facebook-color;
    }

    .twitter-btn {
        background: $twitter-color;
    }

    .linkedin-btn {
        background: $linkedin-color;
    }

    .pinterest-btn {
        background: $pinterest-color;
    }
}

// Author Box

.author-box {
    margin-top: 40px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.089) 0px 0px 0px 1px;
    border-radius: 4px;

    @include media('<=768px') {
        padding: 12px;
    }

    .author-avatar {
        @extend .flex;
        @extend .jc-c;

        img {
            border-radius: 50%;
        }
    }

    .author-content {
        text-align: center;

        .author-name {
            margin-top: 12px;

            a {
                font-weight: 600;
                color: #444;
            }
        }

        .author-desc {
            p {
                margin: 12px 0;
                font-size: 14px;
                color: #7c7c7c;
            }
        }

        .author-social-links {
            ul {
                @extend .flex;
                @extend .jc-c;
                padding: 0;
            }
        }
    }
}

// Night Mode Fix

.night-mode {
    &.single-post {
        .entry-subtitle {
            color: #f1f1ff;
        }

        .entry-meta {
            color: #f1f1f1 !important;

            a {
                color: $red;
            }
        }
    }
}