$white: #fff;
$black: #000;
$nav-color : #32466b;
$hover-color : #cc4551;


$veryHigh: 99999;
$banner: #2685F4;
$blue: #2685F4;
$footer-color : #212025;
$facebook-color : #4267B2;
$twitter-color: #1C9CEA;
$instagram-color: #e1306c;
$pinterest-color: #B80214;
$linkedin-color: #0074AF;
$margin-post-title : 0.25em 0 0.4em;
$margin-entry-title : 0.25em 0 0.4em;