/**
*
* Testing
*
**/
.flex, .blog-post .post-item-else .loop-content {
  display: flex; }

.ai-c, .blog-post .post-item-else .loop-content {
  align-items: center; }

.jc-sb, .blog-post .post-item-else .loop-content {
  justify-content: space-between; }

.jc-c {
  justify-content: center; }

.jc-fs {
  justify-content: flex-start; }

.jc-fe {
  justify-content: flex-end; }

.grid {
  display: grid; }

/**
*
* Testing
*
**/
.container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
      padding: 0; } }

.homepage-content {
  position: relative;
  z-index: 1;
  padding: 0; }
  @media (max-width: 768px) {
    .homepage-content {
      margin-top: 10px;
      padding: 14px; } }
  .homepage-content a {
    text-decoration: none; }

.blog-post {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px; }
  @media (max-width: 768px) {
    .blog-post {
      gap: 8px; } }
  @media (max-width: 620px) {
    .blog-post {
      display: block; } }
  .blog-post a {
    text-decoration: none; }
  .blog-post .post-title {
    font-size: 18px;
    line-height: 1.4;
    color: #32466b; }
  .blog-post h2 {
    margin: 4px 0; }
  .blog-post p {
    font-weight: 400; }
  .blog-post article {
    margin: 0;
    padding: 36px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
    @media (max-width: 1022px) {
      .blog-post article {
        padding: 14px; } }
  .blog-post .post-item-1 {
    grid-column: span 12; }
    @media (max-width: 768px) {
      .blog-post .post-item-1 {
        margin-bottom: 24px; } }
    .blog-post .post-item-1 h2 {
      font-size: 24px; }
      @media (max-width: 1022px) {
        .blog-post .post-item-1 h2 {
          line-height: 1.6;
          font-size: 18px;
          margin: 4px 0; } }
    @media (max-width: 1022px) {
      .blog-post .post-item-1 p {
        margin: 4px 0; } }
  .blog-post .post-item-2,
  .blog-post .post-item-3 {
    grid-column: span 6; }
  @media (max-width: 768px) {
    .blog-post .post-item-2,
    .blog-post .post-item-3,
    .blog-post .post-item-else {
      margin-bottom: 24px; } }
  .blog-post .post-item-2 h2,
  .blog-post .post-item-3 h2,
  .blog-post .post-item-else h2 {
    font-size: 18px;
    line-height: 1.6; }
    @media (max-width: 620px) {
      .blog-post .post-item-2 h2,
      .blog-post .post-item-3 h2,
      .blog-post .post-item-else h2 {
        font-size: 16px; } }
  .blog-post .post-item-1 .post-categories,
  .blog-post .post-item-2 .post-categories,
  .blog-post .post-item-3 .post-categories,
  .blog-post .post-item-else .post-categories {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
    .blog-post .post-item-1 .post-categories li,
    .blog-post .post-item-2 .post-categories li,
    .blog-post .post-item-3 .post-categories li,
    .blog-post .post-item-else .post-categories li {
      margin-right: 6px; }
    .blog-post .post-item-1 .post-categories li::after,
    .blog-post .post-item-2 .post-categories li::after,
    .blog-post .post-item-3 .post-categories li::after,
    .blog-post .post-item-else .post-categories li::after {
      content: ','; }
    .blog-post .post-item-1 .post-categories li:last-child::after,
    .blog-post .post-item-2 .post-categories li:last-child::after,
    .blog-post .post-item-3 .post-categories li:last-child::after,
    .blog-post .post-item-else .post-categories li:last-child::after {
      content: ''; }
    .blog-post .post-item-1 .post-categories a,
    .blog-post .post-item-2 .post-categories a,
    .blog-post .post-item-3 .post-categories a,
    .blog-post .post-item-else .post-categories a {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #cc4551; }
      @media (max-width: 768px) {
        .blog-post .post-item-1 .post-categories a,
        .blog-post .post-item-2 .post-categories a,
        .blog-post .post-item-3 .post-categories a,
        .blog-post .post-item-else .post-categories a {
          font-size: 12px;
          font-weight: 600; } }
  .blog-post .post-item-2,
  .blog-post .post-item-3 {
    padding: 0; }
    .blog-post .post-item-2 img,
    .blog-post .post-item-3 img {
      max-width: 100%;
      height: auto; }
    .blog-post .post-item-2 .post-content,
    .blog-post .post-item-3 .post-content {
      padding: 24px; }
      @media (max-width: 1060px) {
        .blog-post .post-item-2 .post-content,
        .blog-post .post-item-3 .post-content {
          padding: 12px; } }
  .blog-post .post-item-else {
    grid-column: span 12;
    padding: 0; }
    .blog-post .post-item-else .loop-content {
      padding: 18px; }
      @media (max-width: 620px) {
        .blog-post .post-item-else .loop-content {
          padding: 0; } }
      .blog-post .post-item-else .loop-content .post-thumb {
        width: 34%; }
        @media (max-width: 620px) {
          .blog-post .post-item-else .loop-content .post-thumb {
            width: auto; } }
      .blog-post .post-item-else .loop-content .post-content {
        width: 64%;
        padding-left: 24px; }
        @media (max-width: 620px) {
          .blog-post .post-item-else .loop-content .post-content {
            width: auto;
            padding: 12px; } }
      .blog-post .post-item-else .loop-content p {
        margin: 0;
        font-size: 17px; }
        @media (max-width: 620px) {
          .blog-post .post-item-else .loop-content p {
            display: none; } }
      @media (max-width: 620px) {
        .blog-post .post-item-else .loop-content {
          display: block; } }
  .blog-post .read-more-btn {
    display: block;
    width: 160px;
    padding: 12px 24px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    background: #cc4551;
    transition: 0.3s ease;
    margin-top: 20px; }
    .blog-post .read-more-btn:hover {
      background: #2685F4; }
    @media (max-width: 1060px) {
      .blog-post .read-more-btn {
        font-size: 14px;
        padding: 12px;
        width: 100px; } }
    @media (max-width: 768px) {
      .blog-post .read-more-btn {
        font-size: 14px;
        padding: 6px;
        width: 90px; } }
